{% extends 'admin/layout.njk' %}

{% block title %}
    <h1>Griando chef</h1>
    <div>
        <button class="button" type="submit" form="create-chef">Salvar chef</button>
    </div>
{% endblock %}

{% block main %}
    <form id="create-chef" method="POST" action="/admin/chefs">
        <fieldset>

            <legend>Nome</legend>
            <input name="title" type="text" required>

        </fieldset>
        <fieldset>

            <legend>Avatar</legend>
            <input name="author" type="text" required>

        </fieldset>
    </form>
{% endblock %}