{% extends 'admin/layout.njk' %}

{% block title %}
    <h1>Criando chef</h1>
    <div>
        <button class="button" type="submit" form="create-chef">Salvar chef</button>
    </div>
{% endblock %}

{% block main %}
    <form id="create-chef" method="POST" action="/admin/chefs">
        {% include "admin/chefs/fields.njk" %}
    </form>
{% endblock %}