{% extends 'admin/layout.njk' %}

{% block main %}
    <section class="title-and-options">
        <h2>Criando chef</h2>
        <div>
            <button class="button" type="submit" form="create-chef">Salvar chef</button>
        </div>
    </section>

    <form id="create-chef" method="POST" action="/admin/chefs">
        {% include "admin/chefs/fields.njk" %}
    </form>
{% endblock %}