{% extends 'admin/layout.njk' %}

{% block title %}
    <h1>Editando chef</h1>
    <div>
        <button class="button btn-delete" type="submit" form="delete-chef">Deletar</button>
        <button class="button" type="submit" form="edit-chef">Salvar chef</button>
    </div>
{% endblock %}

{% block main %}
    <form id="delete-chef" method="POST" action="/admin/chefs?_method=DELETE">
        <input name="id" type="hidden" value="{{ chef.id }}">
    </form>

    <form id="edit-chef" method="POST" action="/admin/chefs?_method=PUT">
        <input name="id" type="hidden" value="{{ chef.id }}">
            
        {% include "admin/chefs/fields.njk" %}
    </form>

    <script>
        const formDelete = window.document.querySelector("#delete-chef")

        formDelete.addEventListener("submit", function (event) {
            const response = confirm("Deseja realmente deletar esse chef?")

            if (!response) {
                event.preventDefault()
            }
        })
    </script>
{% endblock %}