<fieldset>

    <legend>Nome</legend>
    <input name="name" type="text" value="{{ chef.name }}" " required>

</fieldset>
<fieldset>

    <legend>Avatar</legend>
    <input name="avatar_url" type=" text" value="{{ chef.avatar_url }}" required>

</fieldset>