<fieldset>

    <legend>Nome</legend>
    <input name="name" type="text" value="{{ chef.name }}" required>

</fieldset>
<fieldset>

    <legend>Avatar</legend>
    <div class="form-upload-chef-image">
        <label class="button upload-label" for="photos-input">Enviar avatar</label>
        <input id="photos-input" class="upload-input" type="file" name="photos" accept="image/*" onchange="PhotosUpload.handleFileInput(event)">
    </div>
    <div id="photos-preview" class="chef-avatar">
        {% if chef.files.length > 0 %}
            <div class="photo" id="{{ chef.files[0].id }}">
                <img src="{{ chef.files[0].src }}" alt="{{ chef.name }}">
                <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">close</i>
            </div>

            <input type="hidden" name="removed_files">
        {% endif %}
    </div>

</fieldset>