{% extends 'admin/layout.njk' %}

{% block title %}
    <h1>Gerenciar chefs</h1>
    <div>
        <a class="button" href="#">Adicionar chef</a>
    </div>
{% endblock %}

{% block main %}
    <section class="chefs">
        <div class="chef">
            <div class="chef-image" style="background: url('https://images.unsplash.com/photo-1526621553736-d0cfb8b59b76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80') no-repeat center center / cover"></div>
            <div class="description">
                <h3>Julia Barrabáz</h3>
                <a class="action" href="#">Visualizar</a>
            </div>
        </div>

        <div class="chef">
            <div class="chef-image" style="background: url('https://images.unsplash.com/photo-1526621553736-d0cfb8b59b76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80') no-repeat center center / cover"></div>
            <div class="description">
                <h3>Julia Santos</h3>
                <a class="action" href="#">Visualizar</a>
            </div>
        </div>

        <div class="chef">
            <div class="chef-image" style="background: url('https://images.unsplash.com/photo-1526621553736-d0cfb8b59b76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80') no-repeat center center / cover"></div>
            <div class="description">
                <h3>Julia Craus</h3>
                <a class="action" href="#">Visualizar</a>
            </div>
        </div>

        <div class="chef">
            <div class="chef-image" style="background: url('https://images.unsplash.com/photo-1526621553736-d0cfb8b59b76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80') no-repeat center center / cover"></div>
            <div class="description">
                <h3>Julia Maria</h3>
                <a class="action" href="#">Visualizar</a>
            </div>
        </div>

        <div class="chef">
            <div class="chef-image" style="background: url('https://images.unsplash.com/photo-1526621553736-d0cfb8b59b76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80') no-repeat center center / cover"></div>
            <div class="description">
                <h3>Julia Santz</h3>
                <a class="action" href="#">Visualizar</a>
            </div>
        </div>
    </section>
{% endblock %}