{% extends 'admin/layout.njk' %}

{% block title %}
    <h1>Chef:
        {{chef.name}}</h1>
    <div>
        <a class="button" href="/admin/chefs/1/edit">Editar chef</a>
    </div>
{% endblock %}

{% block main %}

    <section class="chef-info">
        <img src={{chef.avatar_url}} alt="Imagem do Chef {{chef.name}}">
        <h1>{{chef.name}}</h1>
        <p>4 receitas</p>
    </section>

<section class="recipes-container">
    <div class="information-title">
        <h3 class="title">Receitas</h3>
    </div>
    <section class="recipes">
        <div class="food">
            <div class="food-image" style="background: url('https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/burger.png') no-repeat center center / cover"></div>
            <div class="description">
                <h3>
                    Triplo bacon burger
                </h3>
                <p>
                    Jorge Relato
                </p>
                <a class="action" href="/admin/recipes/{{ food.id }}">Visualizar</a>
            </div>
        </div>

        <div class="food">
            <div class="food-image" style="background: url('https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/burger.png') no-repeat center center / cover"></div>
            <div class="description">
                <h3>
                    Triplo bacon burger
                </h3>
                <p>
                    Jorge Relato
                </p>
                <a class="action" href="/admin/recipes/{{ food.id }}">Visualizar</a>
            </div>
        </div>

        <div class="food">
            <div class="food-image" style="background: url('https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/burger.png') no-repeat center center / cover"></div>
            <div class="description">
                <h3>
                    Triplo bacon burger
                </h3>
                <p>
                    Jorge Relato
                </p>
                <a class="action" href="/admin/recipes/{{ food.id }}">Visualizar</a>
            </div>
        </div>

        <div class="food">
            <div class="food-image" style="background: url('https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/burger.png') no-repeat center center / cover"></div>
            <div class="description">
                <h3>
                    Triplo bacon burger
                </h3>
                <p>
                    Jorge Relato
                </p>
                <a class="action" href="/admin/recipes/{{ food.id }}">Visualizar</a>
            </div>
        </div>
    </section>
</section>
{% endblock %}