{% extends 'admin/layout.njk' %}

{% block main %}
    <section class="title-and-options">
        <h2>Chef: {{chef.name}}</h2>

        <div>
            <a class="button" href="/admin/chefs/{{ chef.id }}/edit">Editar chef</a>
        </div>
    </section>
    

    <section class="chef-info">
        {% if chef.files.length > 0 %}
            <img class="chef-image" src="{{ chef.files[0].src }}" alt="{{ chef.name }}">
        {% else %}
            <img class="chef-image" src="http://placehold.it/500x500?text=CHEF SEM FOTO" alt="">
        {% endif %}
        
        <h2>{{chef.name}}</h2>
        <p>{{chef.total_of_recipes}} receita{{ 's' if chef.total_of_recipes > 1 }}</p>
    </section>

    <section class="recipes-container">
        <div class="information-title">
            <h2>Receitas</h2>
        </div>

        <section class="recipes">
            {% for recipe in recipes %}
                <div class="food">
                    {% if recipe.files.length > 0 %}
                        <img class="food-image" src="{{ recipe.files[0].src }}" alt="{{ recipe.files[0].name }}">
                    {% else %}
                        <img class="food-image" src="http://placehold.it/500x200?text=RECEITA SEM FOTO" alt="Receita sem foto">
                    {% endif %}

                    <div class="description">
                        <h3>
                            {{ recipe.title }}
                        </h3>
                        <p>
                            por {{ recipe.chef }}
                        </p>
                        <a class="action" href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
                    </div>
                </div>
            {% endfor %}
        </section>
    </section>
{% endblock %}