<fieldset>
    <legend>Nome</legend>
    <input name="name" type="text" value="{{ user.name }}">
</fieldset>

<fieldset>
    <legend>Email</legend>
    <input name="email" type="email" value="{{ user.email }}">
</fieldset>

<fieldset>
    <legend>Administrador</legend>
    <input name="admin" type="checkbox" value="{{ user.admin }}">
</fieldset>