<div class="user-info">
    <fieldset>
        <legend>Nome</legend>
        <input name="name" type="text" value="{{ user.name }}" required>
    </fieldset>

    <fieldset>
        <legend>Email</legend>
        <input name="email" type="email" value="{{ user.email }}" required>
    </fieldset>

    <fieldset>
        <legend>Senha</legend>
        <input name="password" type="password" required>
    </fieldset>

    <fieldset>
        <legend>Repita a senha</legend>
        <input name="password_repeat" type="password" required>
    </fieldset>
</div>

<fieldset>
    <legend>Administrador</legend>

    <div class="admin-checkbox">
        <input id="admin" name="is_admin" type="checkbox" value="true" {% if user.is_admin %} checked {% endif %}>
        <label for="admin">Com essa opção marcada esse usuário é administrador do Foodfy.</label>
    </div>
</fieldset>