{% extends 'admin/layout.njk' %}

{% block main %}
    <section class="title-and-options">
        <h2>Gerenciar usuários</h2>
        <div>
            <a class="button" href="/admin/users/create">Adicionar usuário</a>
        </div>
    </section>

    <section class="users">
        {% for user in users %}
            <div class="user">
                <div class="description">
                    <h3>{{ user.name }}</h3>
                    <p>{{ user.email }}</p>
                </div>

                <a class="action" href="/admin/users/{{ user.id }}/edit">Editar</a>
            </div>
        {% endfor %}
    </section>
{% endblock %}