/* +=+=+= Chefs Page =+=+=+ */

section.chefs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

section.chefs h3 {
    font-weight: normal;
}

section.chefs p {
    font-size: 14px;
    line-height: 16px;
    color: #666666;
    margin-top: 5px;

}

div.chef {
    display: grid;
    grid-template-columns: 64px 1fr;
    gap: 20px;
    align-items: center;
}

div.chef div.chef-image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

/* +=+=+= Responsiveness =+=+=+ */

@media screen and (max-width: 1012px) {

    /* +=+=+= Header, Banner, Foods =+=+=+ */

    header,
    section#banner,
    main {
        margin: 36px 36px 0 36px;
        box-sizing: border-box;
        /*
            On screens with a resolution less than 1012px (940px + 2 * 36px, maximum width + side margins) fixed side margins of 36px are applied.
        */
    }

    /* +=+=+= Foods =+=+=+ */

    main div.foods {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 692px) {

    /* +=+=+= Header =+=+=+ */

    header {
        grid-template-columns: initial;
        text-align: center;
    }

    #menu {
        margin-top: 18px;
    }

    /* +=+=+= Banner =+=+=+ */

    section#banner {
        height: initial;
    }

    div.banner-container {
        grid-template-columns: initial;
        padding-top: 36px;
    }

    div#content {
        text-align: center;
        padding-bottom: 36px;
        max-width: 420px;
    }

    /* +=+=+= Foods =+=+=+ */

    main h2 {
        text-align: center;
    }

    main div.foods {
        grid-template-columns: 1fr;
    }
}