{% extends "recipes/layout.njk" %}

{% block main_content %}

    {% for item in data %}
        <div class="about-foodfy">
            <h2>
                {{item.title}}
            </h2>

            <p>
                {{item.content}}
            </p>
        </div>
    {% endfor %}

{% endblock %}