{% extends "recipes/layout.njk" %}

{% block banner %}

    <section id="banner">
        <div class="banner-container">
            <div id="content">
                <h1>
                    As melhores receitas
                </h1>
                <h3>
                    Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
                </h3>
            </div>
            <img id="chef" src="./assets/chef.png" alt="Chef">
        </div>
    </section>

{% endblock %}

{% block main_content %}

    <h2>
        Mais acessadas
    </h2>

    <div id="foods">

        {% for food in data %}

            <div class="food">
                <div class="image" style="background: url({{ food.image }}) no-repeat center center / cover"></div>
                <div class="description">
                    <h3 class="name-food">
                        {{food.title}}
                    </h3>
                    <p class="author">
                        {{food.author}}
                    </p>
                </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}