<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/recipes/style.css">
        <title>Foodfy</title>
    </head>

    <body>
        <div class="container">
            <header>
                <a href="/">
                    <img src="/assets/logo.png" alt="Logo da Foodfy">
                </a>
                <nav id="menu">
                    <a class=" {{ 'page-active' if about_page}}" href="/about">Sobre</a>
                    <a class=" {{ 'page-active' if recipes_page}}" href="/recipes">Receitas</a>
                </nav>
            </header>

            {% block banner %}{% endblock %}

            <main>

                {% block main_content%}{% endblock %}

            </main>
        </div>
        
        <footer>
            <p>
                Todos direitos reservados, receitas Foodfy.
            </p>
        </footer>
        
        <script src="/recipes/script.js"></script>
    </body>

</html>