{% extends 'main/layout.njk' %}

{% block main_content %}
    <section class="chefs">

        {% for chef in chefs %}
            <div class="chef">
                <img src="{{ chef.avatar_url }}" alt="{{ chef.name }}">

                <div class="description">
                    <h3>{{ chef.name }}</h3>
                    <p>{{ chef.total_of_recipes }} receita{{ 's' if chef.total_of_recipes > 1 }}</p>
                </div>
            </div>
        {% endfor %}

    </section>
{% endblock %}