{% extends "main/layout.njk" %}

{% block banner %}

    <section id="banner" class="container">
        <div id="content">
            <h2>
                As melhores receitas
            </h2>
            <p>
                Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
            </p>
        </div>
        <img id="chef" src="./assets/chef.png" alt="Chef">
    </section>

{% endblock %}

{% block main_content %}

    <h2>
        Mais acessadas
    </h2>

    <div class="foods">

        {% for recipe in recipes %}

            <div class="food">
                <div class="image" style="background: url({{ recipe.image }}) no-repeat center center / cover"></div>
                <div class="description">
                    <h3 class="name-food">
                        {{ recipe.title }}
                    </h3>
                    <p class="author">
                        por {{ recipe.chef }}
                    </p>
                </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}