{% extends "main/layout.njk" %}

{% block banner %}

    <section id="banner" class="container">
        <div id="content">
            <h2>
                As melhores receitas
            </h2>
            <p>
                Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
            </p>
        </div>
        <img id="chef" src="./assets/chef.png" alt="Chef">
    </section>

{% endblock %}

{% block main_content %}
    <div class="information-header">
        <h2>
            Mais acessadas
        </h2>
    </div>
    
    {% include "main/recipes-listing.njk" %}

{% endblock %}