<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/main/style.css">
        <title>Foodfy</title>
    </head>

    <body>
        <header>
            <a href="/">
                <img src="/assets/logo.png" alt="Logo da Foodfy">
            </a>

            <nav id="menu">
                <a class=" {{ 'page-active' if about_page }}" href="/about">Sobre</a>
                <a class=" {{ 'page-active' if recipes_page }}" href="/recipes">Receitas</a>
                <a class=" {{ 'page-active' if chefs_page }}" href="/chefs">Chefs</a>
            </nav>

            <form action="/admin/recipes" method="GET">
                <input type="text" name="filter" placeholder="Busque uma receita" value="{{ filter }}">
                <button class="button" type="submit">Buscar</button>
            </form>
        </header>

        {% block banner %}{% endblock %}

        <main>

            {% block main_content %}{% endblock %}

        </main>

        <footer>
            <p>
                Todos direitos reservados, receitas Foodfy.
            </p>
        </footer>

        <script src="/main/script.js"></script>
    </body>

</html>