<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/main/style.css">
        <link rel="stylesheet" href="/style.css">
        <title>Foodfy</title>
    </head>

    <body>
        <div class="header-wrapper">
            <header class="container-header">
                <h1>
                    <a href="/">
                        <img src="/assets/logo.png" alt="Logo da Foodfy">
                    </a>
                </h1>

                <nav id="menu">
                    <a class="{% if about_page %} page-active {% else %} menu-hover {% endif %}" href="/about">Sobre</a>
                    <a class="{% if recipes_page %} page-active {% else %} menu-hover {% endif %}" href="/recipes">Receitas</a>
                    <a class="{% if chefs_page %} page-active {% else %} menu-hover {% endif %}" href="/chefs">Chefs</a>
                </nav>

                <form action="/recipes" method="GET">
                    <input type="text" name="filter" placeholder="Busque uma receita" value="{{ filter }}">
                    <button class="button" type="submit">Buscar</button>
                </form>
            </header>
        </div>

        {% block banner %}{% endblock %}

        <main class="container">

            {% block main_content %}{% endblock %}

        </main>

        <footer>
            <p>
                Todos direitos reservados, receitas Foodfy.
            </p>
        </footer>

        <script src="/script.js"></script>
    </body>

</html>