<div class="recipes">

    {% for recipe in recipes %}
        <a href="/recipes/{{ recipe.id }}" class="recipe">
            <div class="recipe">
                <img src="{{ recipe.image }}" alt="{{ recipe.title }}">

                <div class="description">
                    <h3 class="recipe-title">
                        {{ recipe.title }}
                    </h3>
                    
                    <p class="author">
                        por {{ recipe.chef }}
                    </p>
                </div>
            </div>
        </a>
    {% endfor %}

</div>