{% extends "main/layout.njk" %}

{% block main_content %}

    <div id="show" class="recipe">
        <div class="gallery">
            <div class="highlight">
                {% if recipe.files.length > 0 %}
                    <img src="{{ recipe.files[0].src }}" alt="{{ recipe.files[0].name }}">
                {% else %}
                    <img src="http://placehold.it/500x500?text=RECEITA SEM FOTO" alt="Receita sem foto">
                {% endif %}
            </div>

            <div class="gallery-preview">
                {% for image in recipe.files %}
                    <img src="{{ image.src }}" alt="{{ image.name }}" {% if loop.index0 == 0 %} class="active" {% endif %} onclick="ImageGallery.setImage(event)">
                {% endfor %}
            </div>
        </div>

        <section class="recipe-presentation">
            <h2>{{ recipe.title }}</h2>
            <p>por {{ recipe.chef }}</p>
        </section>

        <section class="information">
            <div class="information-header">
                <h3>Ingredientes</h3>
                <span class="change-display" onclick="hideAndShow(this)">Esconder</span>
            </div>

            <div class="hide-and-show ingredients">
                <ul>
                    {% for item in recipe.ingredients %}
                        <li>{{item}}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section class="information">
            <div class="information-header">
                <h3>Modo de Preparo</h3>
                <span class="change-display" onclick="hideAndShow(this)">Esconder</span>
            </div>

            <div class="hide-and-show preparation">
                <ol>
                    {% for item in recipe.preparation %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ol>
            </div>
        </section>

        <section class="information">
            <div class="information-header">
                <h3>Informações Adicionais</h3>
                <span class="change-display" onclick="hideAndShow(this)">Esconder</span>
            </div>

            <div class="hide-and-show information">
                <p>{{ recipe.information }}</p>
            </div>
        </section>
    </div>

{% endblock %}