{% extends "main/layout.njk" %}

{% block main_content %}

    <div class="recipe">
        <div class="image" style="background: url({{ recipe.image }}) no-repeat center center / cover"></div>
        <section class="recipe-title">
            <h1>{{ recipe.title }}</h1>
            <h2>por {{ recipe.chef }}</h2>
        </section>

        <section class="container">
            <div class="information-title">
                <h3 class="title">Ingredientes</h3>
                <span class="change-display">Esconder</span>
            </div>
            <div class="hide-and-show ingredients">
                <ul>
                    {% for item in recipe.ingredients %}
                        <li>{{item}}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section class="container">
            <div class="information-title">
                <h3 class="title">Modo de Preparo</h3>
                <span class="change-display">Esconder</span>
            </div>
            <div class="hide-and-show preparation">
                <ol>
                    {% for item in recipe.preparation %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ol>
            </div>
        </section>

        <section class="container">
            <div class="information-title">
                <h3 class="title">Informações Adicionais</h3>
                <span class="change-display">Esconder</span>
            </div>
            <div class="hide-and-show information">
                <p>{{ recipe.information }}</p>
            </div>
        </section>
    </div>

{% endblock %}