<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
        <title>Foodfy</title>
    </head>

    <body>
        <div class="header-wrapper black">
            <header class="container-header">
                <h1>
                    <a href="/">
                        <img src="/assets/logo-white.png" alt="Logo da Foodfy">
                    </a>
                </h1>

                <nav id="menu">
                    <a class="{% if recipes_page %} page-active {% else %} menu-hover {% endif %}" href="/admin/recipes">Receitas</a>
                    <a class="{% if chefs_page %} page-active {% else %} menu-hover {% endif %}" href="/admin/chefs">Chefs</a>
                </nav>
            </header>
        </div>

        <main class="container">
            {% block main %}{% endblock %}
        </main>

        <footer class="black">
            <p>
                Todos direitos reservados, receitas Foodfy.
            </p>
        </footer>

        <script src="/script.js"></script>
    </body>
</html>