<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/admin/style.css">
        <title>Foodfy</title>
    </head>

    <body>
        <div class="header-background">
            <header>
                <a href="/">
                    <img src="/assets/logo-white.png" alt="Logo da Foodfy">
                </a>
                <nav id="menu">
                    <a class="{{ 'page-active' if recipes_page}}" href="/admin/recipes">RECEITAS</a>
                    <a class="{{ 'page-active' if chefs_page}}" href="/admin/chefs">CHEFS</a>
                </nav>
            </header>
        </div>

        <main>
            <section class="title-and-options">
                {% block title %}{% endblock %}
            </section>

            {% block main %}{% endblock %}
        </main>

        <script src="/admin/script.js"></script>
    </body>
</html>