<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/admin/style.css">
        <link rel="stylesheet" href="/style.css">
        <title>Foodfy</title>
    </head>

    <body>
        <div class="header-wrapper black">
            <header class="container">
                <a href="/">
                    <img src="/assets/logo-white.png" alt="Logo da Foodfy">
                </a>
                <nav id="menu">
                    <a class="{{ 'page-active' if recipes_page}} {{ 'menu-hover' if not recipes_page}}" href="/admin/recipes">Receitas</a>
                    <a class="{{ 'page-active' if chefs_page}} {{ 'menu-hover' if not chefs_page}}" href="/admin/chefs">Chefs</a>
                </nav>
            </header>
        </div>

        <main>
            <section class="title-and-options">
                {% block title %}{% endblock %}
            </section>

            {% block main %}{% endblock %}
        </main>

        <script src="/script.js"></script>
    </body>
</html>