@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --text-color-default: #111111;
    --color-primary: #7159c1
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    min-height: calc(100% - 106px);
    position: relative;
}

body {
    color: var(--text-color-default);
    font-family: 'Roboto', sans-serif;
}

/* +=+=+= Header =+=+=+ */

header {
    min-width: 300px;
    max-width: 940px;
    margin: 36px auto 0 auto;
    display: grid;
    grid-template-columns: 214px 1fr 1fr;
    align-items: center;
}

header img {
    display: inline;
}

#menu {
    display: inline;
}

#menu a {
    text-decoration: none;
    color: var(--text-color-default);
    margin-right: 30px;
}

#menu a:last-child {
    margin-right: 0;
}

input {
    width: 100%;
    height: 35px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 16px;
    box-sizing: border-box;
}

.button {
    font-size: 16px;
    line-height: 18px;
    border-radius: 4px;
    padding: 4px 12px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
    cursor: pointer;
    box-sizing: border-box;
    transition: all 150ms ease-in-out;
}

.button:hover {
    color: var(--color-primary);
    background-color: #FFFFFF;
}

header form {
    display: grid;
    grid-template-columns: 1fr 120px;
    gap: 8px;
}

/* +=+=+= Banner =+=+=+ */

section#banner {
    max-width: 940px;
    min-width: 300px;
    margin: 36px auto 0 auto;
    background: #FBDFDB;
    border-radius: 30px;
    height: 372px;
}

div.banner-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 0 36px;
    box-sizing: border-box;
}

div#content {
    max-width: 320px;
}

div#content h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 10px;
}

div#content h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}

img#chef {
    align-self: end;
}

/* +=+=+= Foods =+=+=+ */

main {
    max-width: 940px;
    margin: 36px auto 0 auto;
    box-sizing: border-box;
}

main h2 {
    min-width: 300px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
}

main div.foods {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 20px;
    justify-items: center;
}

div.food {
    width: 300px;
}

div.food div.image {
    width: 100%;
    height: 140px;
    border-radius: 15px;
    margin-bottom: 20px;
}

div.description h3.name-food {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 5px;
    color: var(--text-color-default);
}

div.description p.author {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #777777;
}

/* +=+=+= Footer =+=+=+ */

footer {
    min-width: 300px;
    width: 100%;
    height: 70px;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #EEEEEE;
    color: #999999;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    bottom: -106px;
}

/* +=+=+= About Page =+=+=+ */

.page-active {
    font-weight: bold;
}

div.about-foodfy {
    margin-top: 30px;
}

div.about-foodfy:first-child {
    margin-top: 0;
}

div.about-foodfy p {
    color: #444444;
    font-size: 18px;
    line-height: 28px;
}

/* +=+=+= Recipies Page =+=+=+ */

.recipe {
    text-decoration: none;
}

/* +=+=+= Recipie Page =+=+=+ */

div.recipe div.image {
    margin-top: 14px;
    margin-bottom: 14px;
    width: 100%;
    height: 280px;
    border-radius: 15px;
}

div.recipe section.recipe-title {
    margin-top: 36px;
    text-align: center;
}

div.recipe section.recipe-title h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}

div.recipe section.recipe-title h2 {
    margin-top: 4px;
    font-size: 20px;
    line-height: 24px;
    color: #777777;
}

div.recipe section.container {
    margin-top: 50px;
}

div.recipe section.container div.information-title {
    margin-bottom: 20px;
}

div.recipe section.container div.information-title h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    display: inline-block;
}

div.recipe section.container div.information-title span {
    margin-left: 8px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #777777;
    cursor: pointer;
}

div.recipe section.container div.hide-and-show ul,
div.recipe section.container div.hide-and-show ol,
div.recipe section.container div.hide-and-show p {
    margin-left: 18px;
    font-size: 18px;
    line-height: 28px;
}

div.recipe section.container div.hide-and-show p {
    margin-left: initial;
}

div.recipe section.container div.hide-and-show p+p {
    margin-top: 16px;
}

.hide {
    opacity: 0;
    visibility: hidden;
    display: none;
    height: 0;
}

/* +=+=+= Responsiveness =+=+=+ */

@media screen and (max-width: 1012px) {

    /* +=+=+= Header, Banner, Foods =+=+=+ */

    header,
    section#banner,
    main {
        margin: 36px 36px 0 36px;
        box-sizing: border-box;
        /*
            On screens with a resolution less than 1012px (940px + 2 * 36px, maximum width + side margins) fixed side margins of 36px are applied.
        */
    }

    /* +=+=+= Foods =+=+=+ */

    main div.foods {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 692px) {

    /* +=+=+= Header =+=+=+ */

    header {
        grid-template-columns: initial;
        text-align: center;
    }

    #menu {
        margin-top: 18px;
    }

    /* +=+=+= Banner =+=+=+ */

    section#banner {
        height: initial;
    }

    div.banner-container {
        grid-template-columns: initial;
        padding-top: 36px;
    }

    div#content {
        text-align: center;
        padding-bottom: 36px;
        max-width: 420px;
    }

    /* +=+=+= Foods =+=+=+ */

    main h2 {
        text-align: center;
    }

    main div.foods {
        grid-template-columns: 1fr;
    }
}