@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --text-color-default: #111111;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    color: var(--text-color-default);
    font-family: 'Roboto', sans-serif;
}

/* +=+=+= Container =+=+=+ */

div.container {
    margin: 36px 36px 50px 36px;
    box-sizing: border-box;
}

/* +=+=+= Header =+=+=+ */

header {
    min-width: 300px;
    padding-bottom: 36px;
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 213px 1fr;
    align-items: center;
}

header img {
    display: inline;
}

#menu {
    display: inline;
}

#menu a {
    text-decoration: none;
    color: var(--text-color-default);
    margin-right: 30px;
}

#menu a:last-child {
    margin-right: 0;
}

@media screen and (max-width: 500px) {
    header {
        grid-template-columns: initial;
        text-align: center;
    }

    #menu {
        margin-top: 18px;
    }
}

/* +=+=+= Banner =+=+=+ */

section#banner {
    max-width: 940px;
    min-width: 300px;
    margin: 0 auto;
    background: #FBDFDB;
    border-radius: 30px;
    width: 100%;
    height: 372px;
    margin-bottom: 50px;
}

div.banner-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 0 36px;
    box-sizing: border-box;
}

div#content {
    max-width: 320px;
}

div#content h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 10px;
}

div#content h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}

img#chef {
    align-self: end;
}

@media screen and (max-width: 800px) {
    section#banner {
        height: initial;
    }

    div.banner-container {
        grid-template-columns: initial;
        padding-top: 36px;
    }

    div#content {
        text-align: center;
        padding-bottom: 36px;
        max-width: 420px;
    }

}

/* +=+=+= Foods =+=+=+ */

main {
    max-width: 940px;
    margin: 0 auto;
    box-sizing: border-box;
}

main h2 {
    min-width: 300px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
}

main div#foods {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 20px;
}

div.food {
    width: 300px;
}

div.food div.image {
    width: 100%;
    height: 140px;
    border-radius: 15px;
    margin-bottom: 20px;
}

div.description h3.name-food {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 5px;
    color: var(--text-color-default);
}

div.description p.author {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #777777;
}

@media screen and (max-width: 1000px) {
    main div#foods {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }


}

@media screen and (max-width: 680px) {
    main div#foods {
        grid-template-columns: 1fr;
    }

    main h2 {
        text-align: center;
    }
}

/* +=+=+= Footer =+=+=+ */

footer {
    min-width: 300px;
    background-color: #EEEEEE;
    color: #999999;
    padding: 25px;
    text-align: center;
}

/* +=+=+= About Page =+=+=+ */

.page-active {
    font-weight: bold;
}

div.about-foodfy {
    margin-top: 30px;
}

div.about-foodfy:first-child {
    margin-top: 0;
}

div.about-foodfy p {
    color: #444444;
    font-size: 18px;
    line-height: 28px;
}

/* +=+=+= Recipies Page =+=+=+ */

.recipie {
    text-decoration: none;
}

/* +=+=+= Recipie Page =+=+=+ */

div.recipie div.image {
    margin-top: 14px;
    margin-bottom: 14px;
    width: 100%;
    height: 280px;
    border-radius: 15px;
}

div.recipie section.recipie-title {
    margin-top: 36px;
    text-align: center;
}

div.recipie section.title h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}

div.recipie section.title h2 {
    margin-top: 4px;
    font-size: 20px;
    line-height: 24px;
    color: #777777;
}

div.recipie section.container {
    margin-top: 50px;
}

div.recipie section.container div.information-title {
    margin-bottom: 20px;
}

div.recipie section.container div.information-title h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    display: inline-block;
}

div.recipie section.container div.information-title span {
    margin-left: 8px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #777777;
    cursor: pointer;
}

div.recipie section.container div.hide-and-show ul,
div.recipie section.container div.hide-and-show ol,
div.recipie section.container div.hide-and-show p {
    margin-left: 18px;
    font-size: 18px;
    line-height: 28px;
}

div.recipie section.container div.hide-and-show p {
    margin-left: initial;
}

div.recipie section.container div.hide-and-show p+p {
    margin-top: 16px;
}

.hide {
    opacity: 0;
    visibility: hidden;
    display: none;
    height: 0;
}