@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
    --color-default: #111111;
    --color-primary: #6558C3;
    --color-secondary: #777777;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    transition: all 200ms ease-in-out;
}

body {
    color: var(--color-default);
    font-family: "Roboto", sans-serif;
}

/* +=+=+= Generic Classes =+=+=+ */

/* += Responsiveness =+ */

.container {
    min-width: 300px;
    max-width: 940px;
    margin: 0 auto;
    padding: 36px 0;
}

/* += Buttons =+ */

.button {
    font-size: 16px;
    line-height: 18px;
    border-radius: 4px;
    padding: 4px 12px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
    cursor: pointer;
    box-sizing: border-box;
    transition: all 150ms ease-in-out;
}

.button:hover {
    color: var(--color-primary);
    background-color: #FFFFFF;
}

.btn-delete {
    background-color: #DC4747;
}

.btn-delete:hover {
    color: #DC4747;
    border: 2px solid #DC4747;
}

/* += Links =+*/

.action {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: var(--color-primary);
    text-decoration: none;
    position: relative;
}

.menu-hover {
    position: relative;
}

.menu-hover::after,
.action::after {
    content: "";
    background-color: var(--color-primary);
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -2px;
    border-radius: 1px;
    transition: width 200ms ease-in-out;
}

.menu-hover:hover::after,
.action:hover::after {
    width: 100%;
}

/* +=+=+= Header =+=+=+ */

.header-wrapper.black {
    background-color: var(--color-default);
}

.header-wrapper header {
    display: grid;
    grid-template-columns: 214px 1fr 1fr;
    align-items: center;
    justify-self: left;
}

.header-wrapper.black header {
    /* Header Admin */
    grid-template-columns: 214px 1fr;
}

#menu {
    display: inline;
}

#menu a {
    text-decoration: none;
    color: var(--color-default);
    margin-right: 30px;
}

.header-wrapper.black #menu a {
    color: #FFFFFF;
    filter: brightness(0.5);
}

#menu a:last-child {
    margin-right: 0;
}

.header-wrapper.black #menu .page-active,
.header-wrapper.black #menu a:hover {
    filter: brightness(1.0);
}