{% extends "layout.njk" %}

{% block banner %}

    <section id="banner">
        <div id="content">
            <h1>
                As melhores receitas
            </h1>
            <h3 class="text-3">
                Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
            </h3>
        </div>
        <img id="chef" src="./assets/chef.png" alt="Chef">
    </section>

{% endblock %}

{% block main_content %}

    <h2>
        Mais acessadas
    </h2>

    <div id="foods">

        <div class="food">
            <img src="./assets/burger.png" alt="Triplo bacon burger">
            <div class="description">
                <h3 class="name-food">
                    Triplo bacon burger
                </h3>
                <p class="author">
                    por Jorge Relato
                </p>
            </div>
        </div>

        <div class="food">
            <img src="./assets/pizza.png" alt="Triplo bacon burger">
            <div class="description">
                <h3 class="name-food">
                    Pizza 4 estações
                </h3>
                <p class="author">
                    por Fabiana Melo
                </p>
            </div>
        </div>

        <div class="food">
            <img src="./assets/espaguete.png" alt="Triplo bacon burger">
            <div class="description">
                <h3 class="name-food">
                    Espaguete ao alho
                </h3>
                <p class="author">
                    por Júlia Kinoto
                </p>
            </div>
        </div>

        <div class="food">
            <img src="./assets/lasanha.png" alt="Triplo bacon burger">
            <div class="description">
                <h3 class="name-food">
                    Lasanha mac n’ cheese
                </h3>
                <p class="author">
                    por Juliano Vieira
                </p>
            </div>
        </div>

        <div class="food">
            <img src="./assets/doce.png" alt="Triplo bacon burger">
            <div class="description">
                <h3 class="name-food">
                    Docinhos pão-do-céu
                </h3>
                <p class="author">
                    por Ricardo Golvea
                </p>
            </div>
        </div>

        <div class="food">
            <img src="./assets/asinhas.png" alt="Triplo bacon burger">
            <div class="description">
                <h3 class="name-food">
                    Asinhas de frango ao barbecue
                </h3>
                <p class="author">
                    por Vania Steroski
                </p>
            </div>
        </div>

    </div>

{% endblock %}