{% extends "layout.njk" %}

{% block banner %}

    <section id="banner">
        <div class="banner-container">
            <div id="content">
                <h1>
                    {{banner.title}}
                </h1>
                <h3>
                    {{banner.subtitle}}
                </h3>
            </div>
            <img id="{{banner.image_name}}" src="./assets/{{banner.image_name}}.png" alt="{{banner.image_name}}">
        </div>
    </section>

{% endblock %}

{% block main_content %}

    <h2>
        {{main_title}}
    </h2>

    <div id="foods">

        {% for food in data %}

            <div class="food">
                <img src="./assets/{{food.image_name}}.png" alt="{{food.name_food}}">
                <div class="description">
                    <h3 class="name-food">
                        {{food.name_food}}
                    </h3>
                    <p class="author">
                        {{food.author}}
                    </p>
                </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}