{% extends "layout.njk" %}

{% block main_content %}

    <div id="foods">

        {% for food in data %}

            <div class="food">
                <img src="./assets/{{food.image_name}}.png" alt="{{food.name_food}}">
                <div class="description">
                    <h3 class="name-food">
                        {{food.name_food}}
                    </h3>
                    <p class="author">
                        {{food.author}}
                    </p>
                </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}

{% block modal %}

    <div class="modal-overlay">
        <div class="modal">

            <div class="food-modal">
                <div class="image"></div>
                <!--<img src="./assets/asinhas.png" alt="Triplo bacon burger">-->
                <div class="description">
                    <h3 class="name-food"></h3>
                    <p class="author"></p>
                </div>
            </div>

            <button id="close">Fechar modal</button>
        </div>
    </div>

    <script src="script.js"></script>

    {%endblock%}