@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
    --color-default: #111111;
    --color-primary: #6558C3;
    --color-secondary: #777777;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    color: var(--color-default);
    font-family: "Roboto", sans-serif;
}

/* +=+=+= Generic Classes =+=+=+ */

.button {
    font-size: 16px;
    line-height: 18px;
    border-radius: 4px;
    padding: 4px 12px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: var(--color-primary);
    border: 2px solid #FFFFFF;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 150ms ease-in-out;
}

.button:hover {
    color: var(--color-primary);
    background-color: #FFFFFF;
    border: 2px solid var(--color-primary);
}

.btn-delete {
    background-color: #DC4747;
}

.btn-delete:hover {
    color: #DC4747;
    border: 2px solid #DC4747;
}

.action {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: var(--color-primary);
    text-decoration: none;
    position: relative;
}

.action::after {
    content: "";
    background-color: var(--color-primary);
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -2px;
    border-radius: 1px;
    transition: width 200ms ease-in-out;
}

.action:hover::after {
    width: 100%;
}

/* +=+=+= Header =+=+=+ */

div.header-background {
    background-color: var(--color-default);
}

header {
    min-width: 300px;
    max-width: 940px;
    margin: 0 auto;
    padding: 36px 0 36px 0;
    display: grid;
    grid-template-columns: 214px 1fr;
    align-items: center;
    justify-self: left;
}

#menu {
    display: inline;
}

#menu a {
    text-decoration: none;
    color: #FFFFFF;
    filter: brightness(0.5);
    margin-right: 30px;
}

#menu a:last-child {
    margin-right: 0;
}

#menu .page-active {
    filter: brightness(1.0);
}

/* +=+=+= Index =+=+=+ */

div button+button {
    margin-left: 10px;
}

main {
    max-width: 940px;
    margin: 36px auto 36px auto;
    box-sizing: border-box;
}

main section.title-and-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 30px;
}

main section.title-and-options h1 {
    font-size: 24px;
    line-height: 28px;
}

main section.title-and-options div {
    justify-self: right;
}

main section.recipes {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

main section.recipes div.food {
    display: grid;
    grid-template-columns: 170px 1fr;
    gap: 20px;
}

main section.recipes div.food div.image {
    width: 100%;
    height: 80px;
    border-radius: 8.5px;
}

main section.recipes div.food div.description {
    width: 100%;
}

main section.recipes div.food div.description h3 {
    font-size: 18px;
    line-height: 21px;
    font-weight: normal;
    margin-bottom: 5px;
}

main section.recipes div.food div.description p {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: var(--color-secondary);
    margin-bottom: 5px;
}

/* +=+=+= Recipie =+=+=+ */

div.recipie div.image {
    margin-top: 14px;
    margin-bottom: 14px;
    width: 100%;
    height: 280px;
    border-radius: 15px;
}

div.recipie section.recipie-title {
    margin-top: 36px;
    text-align: center;
}

div.recipie section.recipie-title h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}

div.recipie section.recipie-title h2 {
    margin-top: 4px;
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;
    color: var(--color-secondary);
}

div.recipie section.container {
    margin-top: 50px;
}

div.recipie section.container div.information-title {
    margin-bottom: 20px;
}

div.recipie section.container div.information-title h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    display: inline-block;
}

div.recipie section.container div.information-title span {
    margin-left: 8px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: var(--color-secondary);
    cursor: pointer;
}

div.recipie section.container div.hide-and-show ul,
div.recipie section.container div.hide-and-show ol,
div.recipie section.container div.hide-and-show p {
    margin-left: 18px;
    font-size: 18px;
    line-height: 28px;
}

div.recipie section.container div.hide-and-show p {
    margin-left: initial;
}

div.recipie section.container div.hide-and-show p+p {
    margin-top: 16px;
}

div.recipie section.container div.hide-and-show p+p:last-child {
    margin-bottom: 50px;
}

/* +=+=+= Create =+=+=+ */

form {
    max-width: 940px;
    margin: 0 auto;
}

form fieldset {
    margin-bottom: 30px;
}

form fieldset:last-child {
    margin-bottom: 50px;
}

form fieldset legend {
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    margin-bottom: 10px;
}

form fieldset div.new-item input{
    margin-bottom: 15px;
}

form fieldset input, textarea {
    width: 100%;
    height: 50px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 16px;
    box-sizing: border-box;
}

form fieldset button {
    background-color: #FFFFFF;
    cursor: pointer;
}

form fieldset textarea {
    height: 250px;
    resize: vertical;
}

/* +=+=+= Responsiveness =+=+=+ */

@media screen and (max-width: 1012px) {
    header {
        margin: 0 36px;
    }

    main {
        margin: 36px;
    }
}

@media screen and (max-width: 840px) {
    main section.recipes {
        grid-template-columns: 1fr;
    }
}



/* +=+=+=+=+=+= Chefs =+=+=+=+=+=+ */

/* +=+=+= Index =+=+=+ */

div.chef div.chef-image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}