{% extends 'admin/layout.njk' %}

{% block main %}
    <section class="title-and-options">
        <h2>Criar receita</h2>
        <div>
            <button class="button" type="submit" form="create-recipe">Salvar</button>
        </div>
    </section>

    <form id="create-recipe" method="POST" action="/admin/recipes" enctype="multipart/form-data">
        {% include "admin/recipes/fields.njk" %}
    </form>
{% endblock %}