{% extends 'admin/layout.njk' %}

{% block main %}
    <section class="title-and-options">
        <h1>Editando receita</h1>
        <div>
            <button form="delete-recipe" class="button btn-delete">Deletar</button>
            <button form="edit-recipe" class="button">Salvar receita</button>
        </div>
    </section>
    
    <form id="edit-recipe" method="POST" action="/admin/recipes?_method=PUT">
        <input name="id" type="hidden" value="{{ recipe.id }}">

        {% include "admin/recipes/fields.njk" %}
    </form>

    <form id="delete-recipe" action="/admin/recipes?_method=DELETE" method="POST">
        <input name="id" type="hidden" value="{{ recipe.id }}">
    </form>

    <script>
        const formDelete = window.document.querySelector("#delete-recipe")

        formDelete.addEventListener("submit", function (event) {
            const response = confirm("Deseja realmente deletar essa receita?")

            if (!response) {
                event.preventDefault()
            }
        })
    </script>

{% endblock %}