<fieldset>

    <legend>Nome da receita</legend>
    <input name="title" type="text" value="{{ recipe.title }}" required="required">

</fieldset>

<fieldset>

    <legend>Imagem da receita</legend>
    <div>
        <div id="photos-upload">
            <label class="upload-label" for="photos-input">
                <i class="material-icons">add</i>
            </label>
            <input id="photos-input" type="file" name="photos" accept="image/*" onchange="PhotosUpload.handleFileInput(event)" multiple>
        </div>

        <div id="photos-preview">
            {% if files %}
                {% for image in files %}
                    <div class="photo" id="{{ image.id }}">
                        <img src="{{ image.src }}" alt="{{ image.name }}">
                        <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">close</i>
                    </div>
                {% endfor %}

                <input type="hidden" name="removed_files">
            {% endif %}
        </div>
    </div>
    <!--<input name="image" type="text" value="{{ recipe.image }}" placeholder="http://" required>-->

</fieldset>

<fieldset>

    <legend>Chef</legend>
    <select name="chef_id" required>
        <option value="" disabled selected>Selecione um chef</option>
        {% for chef in chefs %}
            <option value="{{ chef.id }}" {% if recipe.chef_id == chef.id %} selected {% endif %}>{{ chef.name }}</option>
        {% endfor %}
    </select>
</fieldset>
<fieldset>

    <legend>Ingredientes</legend>
    <div class="new-item ingredient-div">
        {% if not recipe %}
            <input name="ingredients[]" type="text" required="required">
        {% endif %}

        {% for item in recipe.ingredients %}
            <input name="ingredients[]" type="text" value="{{ item }}" required="required">
        {% endfor %}
    </div>

    <button id="ingredient" class="add-field action" type="button" onclick="addInput(this)">Adicionar novo ingrediente</button>

</fieldset>
<fieldset>

    <legend>Modo de preparo</legend>
    <div class="new-item steps-div">
        {% if not recipe %}
            <input name="preparation[]" type="text" required="required">
        {% endif %}

        {% for item in recipe.preparation %}
            <input name="preparation[]" type="text" value="{{ item }}" required="required">
        {% endfor %}
    </div>

    <button id="steps" class="add-field action" type="button" onclick="addInput(this)">Adicionar novo passo</button>

</fieldset>
<fieldset>

    <legend>Informações adicionais</legend>
    <textarea name="information" id="" cols="30" rows="10" value="{{ recipe.information }}"></textarea>

</fieldset>