{% extends 'admin/layout.njk' %}

{% block main %}

    <section class="title-and-options">
        <h1>Gerenciar receitas</h1>
        <div>
            <a class="button" href="/admin/recipes/create">Adicionar receita</a>
        </div>
    </section>

    <section class="recipes">

        {% for recipe in recipes %}

            <div class="food">
                <div class="food-image" style="background: url('{{ recipe.image }}') no-repeat center center / cover"></div>
                <div class="description">
                    <h3>
                        {{ recipe.title }}
                    </h3>
                    <p>
                        por {{ recipe.chef }}
                    </p>
                    <a class="action" href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
                </div>
            </div>

        {% endfor %}

    </section>

{% endblock %}