{% extends 'admin/layout.njk' %}

{% block main %}

    <section class="title-and-options">
        <h2>Gerenciar receitas</h2>
        <div>
            <a class="button" href="/admin/recipes/create">Adicionar receita</a>
        </div>
    </section>

    <section class="recipes">

        {% for recipe in recipes %}

            <div class="food">
                {% if not files %}
                    <img class="food-image" src="http://placehold.it/500x500?text=RECEITA SEM FOTO" alt="">
                {% else %}
                    <img class="food-image" src="{{ files[0].src }}" alt="{{ files[0].name }}">
                {% endif %}

                <div class="description">
                    <h3>
                        {{ recipe.title }}
                    </h3>
                    <p>
                        por {{ recipe.chef }}
                    </p>
                    <a class="action" href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
                </div>
            </div>

        {% endfor %}

    </section>

{% endblock %}