{% extends 'admin/layout.njk' %}

{% block title %}
    <h1>Receita:
        {{ recipe.title }}</h1>
    <div>
        <a class="button" href="/admin/recipes/{{ recipe.id }}/edit">Editar receita</a>
    </div>
{% endblock %}

{% block main %}
    <div class="recipie">
        <div class="food-image-big" style="background: url({{ recipe.image }}) no-repeat center center / cover"></div>
        <section class="recipie-title">
            <h1>{{ recipe.title }}</h1>
            <h2>por {{ recipe.chef }}</h2>
        </section>

        <section class="container">
            <div class="information-title">
                <h3 class="title">Ingredientes</h3>
            </div>
            <div class="hide-and-show ingredients">
                <ul>
                    {% for item in recipe.ingredients %}
                        <li>{{item}}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section class="container">
            <div class="information-title">
                <h3 class="title">Modo de Preparo</h3>
            </div>
            <div class="hide-and-show preparation">
                <ol>
                    {% for item in recipe.preparation %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ol>
            </div>
        </section>

        <section class="container">
            <div class="information-title">
                <h3 class="title">Informações Adicionais</h3>
            </div>
            <div class="hide-and-show information">
                <p>{{ recipe.information }}</p>
            </div>
        </section>
    </div>
{% endblock %}