{% extends 'admin/layout.njk' %}

{% block main %}
    <section class="title-and-options">
        <h2>Receita: {{ recipe.title }}</h2>
        <div>
            <a class="button" href="/admin/recipes/{{ recipe.id }}/edit">Editar receita</a>
        </div>
    </section>

    <div class="recipie">
        <div class="food-image-big" style="background: url({{ recipe.image }}) no-repeat center center / cover"></div>
        <section class="recipie-title">
            <h2>{{ recipe.title }}</h2>
            <p>por {{ recipe.chef }}</p>
        </section>

        <section class="container">
            <div class="information-title">
                <h2>Ingredientes</h2>
            </div>
            <div class="hide-and-show ingredients">
                <ul>
                    {% for item in recipe.ingredients %}
                        <li>{{item}}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section class="container">
            <div class="information-title">
                <h2>Modo de Preparo</h2>
            </div>
            <div class="hide-and-show preparation">
                <ol>
                    {% for item in recipe.preparation %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ol>
            </div>
        </section>

        <section class="container">
            <div class="information-title">
                <h2>Informações Adicionais</h2>
            </div>
            <div class="hide-and-show information">
                <p>{{ recipe.information }}</p>
            </div>
        </section>
    </div>
{% endblock %}